.header {
    text-align: center;
    /* padding-bottom: 50px ; */
    /* background-color: aqua; */
}
.heading {
    padding: 50px 0;
    background-color: aqua;
}

.subHeading {
    border: 2px solid black;
    text-align: center;
    height: 100px;
}

.para {
    border: 2px solid black;
    text-align: center;
    margin: 50px 0;
    height: 50px;
}

.container {
    max-width: 1000px;
    margin: 0  auto;
}
.footersection {
    background-color: aqua;
    padding: 50px 0;
}
.btnpos{
    text-align: center;
}